# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
#terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/*.auto.tfvars

# Server files (too large for git)
server-files/
*.jar
Assets.zip

# OS files
.DS_Store
*.un~
